<div class= "header">
    <div class="container">
    <div class="d-flex justify-content-center">
        <span>
        <h2><strong style="color: white">Bem-vind@ ao Ping e Ponto!</strong></h2><br>
        <p>Chame todos da sua equipe para praticar esse esporte que une todas as áreas!</p>
        <p>De CX a IS, RH ao MKT, todos podem chegar para jogar uma ou quantas partidas quiser.</p>
        <p>Todos são bem-vindos! Competitivos, amistosos, principalmente quem quer aprender!</p>
        </span>
    </div> 
    </div>
</div>
<div class='main'>

<!-- Players --------------------------------------------->
    <div class='row' style='margin: 20px 0'>
        <div class='col-sm-2 title' style="position: abolute; height: 500px;">
            <div class="vertical-center">
                <h1 style='text-align: center'>Jogadores</h1>
                <p style='text-align: center'>Deixe sua marca</p>
            </div>
        </div>
        <div class='col-sm-10 p-4 d-flex justify-content-between info-right'>

            <% 5.times do |i|%>
            <div class="player-card">
                <div class="player-picture">
                    <% if @players[i].picture%>
                        <img src="pictures/<%=@players[i].nome.downcase%>.png">
                    <% else %>
                        <img src="pictures/placeholder.png">
                    <% end %>
                    
                </div>
                <div class="player-info">
                    <h3><%=@players[i].nome %></h3>
                    <p><%= @players[i].time %></p>
                </div>
            </div>
            <% end %>

            <!--
            <div class="player-card">
                <div class="player-picture">
                    <img src="pictures/gustavo.png">
                </div>
                <div class="player-info">
                    <h3>Gustavo</h3>
                    <p>Customer Service</p>
                </div>
            </div>
            -->            
        </div>
    </div>

<!-- Leaderboard ----------------------------------------->
    <div class="leaderboard">
    <div class='row' style='margin-top: 20px 0'>
        <div class='col-sm-10 d-flex justify-content-between info-left'>
    <!-- cards -->
            <div class="player-card">
                <div class="player-picture">
                    <!--img src="pictures/gustavo.png"-->
                </div>
                <h2>Gustavo</h2>
                <p>Partidas: <strong>10</strong></p>
                <p>Vitórias: <strong>8</strong></p>
            </div>
            <div class="player-card">
                <div class="player-picture">
                    <img src="pictures/felipe.png">
                </div>
                <h2>Felipe</h2>
                <p>Partidas: <strong>10</strong></p>
                <p>Vitórias: <strong>8</strong></p>
            </div>
            <div class="player-card">
                <div class="player-picture">
                    <img src="pictures/thiago.png">
                </div>
                <h2>Thiago</h2>
                <p>Partidas: <strong>10</strong></p>
                <p>Vitórias: <strong>8</strong></p>
            </div>
            <div class="player-card">
                <div class="player-picture">
                    <img src="pictures/alysson.png">
                </div>
                <h2>Alysson</h2>
                <p>Partidas: <strong>10</strong></p>
                <p>Vitórias: <strong>8</strong></p>
            </div>
            <div class="player-card">
                <div class="player-picture">
                    <img src="pictures/janaina.png">
                </div>
                <h2>Janaina</h2>
                <p>Partidas: <strong>10</strong></p>
                <p>Vitórias: <strong>8</strong></p>
            </div>
        </div>
    <!-- -->
        <div class='col-sm-2 title'>
            <div class="vertical-center">
                <h1 style='text-align: center'>Os mais competitivos?</h1>
                <p style='text-align: center'>先生</p>
            </div>
        </div>
    </div>
    </div>
<!-- History --------------------------------------------->
    <div class="history">
    <div class='row' style='margin: 20px 0'>

        <div class='col-sm-2 title'>
            <div class="vertical-center">
                <h1 style='text-align: center'>Últimas partidas</h1>
                <p style='text-align: center'></p>
            </div>
        </div>
        
        <div class='col-sm-10 info-right'>
            <div class="row">
                <div class="col-sm-6 slot">
                    <div class="d-flex justify-content-between" id='pontuação'>
                        <div class="" id='j1'><%= Player.find(@matches[0].winner).nome %></div>
                        <div class="" id='placar'><%= @matches[0].winner_score %> X <%= @matches[0].loser_score %></div>
                        <div class="" id='j2'><%= Player.find(@matches[0].loser).nome %></div>
                    </div>
                </div>
                <div class="col-sm-6 slot">
                    <div class="d-flex justify-content-between" id='pontuação'>
                        <div class="" id='j1'><%= Player.find(@matches[1].winner).nome %></div>
                        <div class="" id='placar'><%= @matches[1].winner_score %> X <%= @matches[1].loser_score %></div>
                        <div class="" id='j2'><%= Player.find(@matches[1].loser).nome %></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 slot">
                    <div class="d-flex justify-content-between" id='pontuação'>
                        <div class="" id='j1'><%= Player.find(@matches[2].winner).nome %></div>
                        <div class="" id='placar'><%= @matches[2].winner_score %> X <%= @matches[2].loser_score %></div>
                        <div class="" id='j2'><%= Player.find(@matches[2].loser).nome %></div>
                    </div>
                </div>
                <div class="col-sm-6 slot">
                    <div class="d-flex justify-content-between" id='pontuação'>
                        <div class="" id='j1'><%= Player.find(@matches[3].winner).nome %></div>
                        <div class="" id='placar'><%= @matches[3].winner_score %> X <%= @matches[3].loser_score %></div>
                        <div class="" id='j2'><%= Player.find(@matches[3].loser).nome %></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
<div class='base' style="height: 100px">
    <p style="text-align: center;"><strong>Todas as informações e estatísticas nessa página são apenas espaços reservados.</strong></p>
    <p style="text-align: center;">Informações atualizadas serão implementadas logo logo.</p>
</div>  