<%= form_with model: player do |form| %>
    <div>
        <%= form.label :nome %><br>
        <%= form.text_field :nome %>
        <% player.errors.full_messages_for(:nome).each do |message|%>
        <div><%= message%></div>
        <% end %>
    </div>

    <div>
        <%= form.label :vitorias %><br>
        <%= form.number_field :vitorias %>
    </div>

    <div>
        <%= form.label :time %><br>
        <%= form.select :time, options_for_select(['Customer Service', 'Inside Sales', 'Marketing']) %>
    </div>

    <div>
        <%= form.label :picture %><br>
        <%= form.check_box :picture %>
    </div>

    <div>
        <%= form.submit %>
    </div>
<% end %>