<div class="container profile" style="padding-top: 25px;">
    <h1>Conheça 
        <%= @player.nome%>
    </h1>

    <%= link_to "Editar", edit_player_path, class: "btn"%>
    
    <div class="row">
        <div class="col-sm-4">
            <div class="pic">
                <img src="/pictures/<%= @player.nome.downcase %>.png">
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 50px">
        <h1>Histórico</h1>
        <div class="col-sm-8 historico">
            <% @matches.each do |match|%>
            <div class="row" id='pontuação'>
                <div class="col-sm-4" id='j1'>
                    <%= Player.find(match.winner).nome %>
                </div>
                
                <div class="col-sm-4" id='placar'><%= match.winner_score %> X <%= match.loser_score %></div>

                <div class="col-sm-4" id='j2'>
                    <%= Player.find(match.loser).nome %>
                </div>
            </div>  
            <% end %>
        </div>
        <div class="col-sm-4 stats">
            <h2>Estatísticas</h2>
            <p>Partidas: <%= @matches.length %></p>
            <p>Vitórias: <%= @wins.length %></p>
            <h2>Taxa de vitórias: <strong><%= @winrate %></strong></h2>
        </div>
    </div>

    <%= link_to "Excluir", player_path(@player), class: "btn", data: {
        turbo_method: :delete,
        turbo_confirm: "Tem certeza que deseja excluir o cadastro?"
    }%>
</div>